*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.api{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.both{
  position: relative;
  bottom: 3rem;
  left: 8rem;  
}

.green{
  display: flex;
  align-items: center;
  justify-content: center;
   width: 150px;
   height: 100px;
   overflow: hidden;
 }
 .green::before{
   content: 'dddddddddd';
   /* width: 250px; */
   /* top: 70px;
   left: 100px; */
   color: transparent;
   font-size: 5em;
   text-decoration-style: wavy;
   text-decoration-color:green ;
   text-decoration-line: underline;
   animation: animate3 2s linear infinite;
 }
 
 @keyframes animate3 {
   0% {
     transform: translateX(-1px)
   }
   100%{
     transform: translateX(-50px)
   }
 }




.red{
 display: flex;
 align-self: flex-end;
 right: 100px;
 /* align-items:center;
 justify-content: center; */
  width: 200px;
  height: 100px;
  overflow: hidden;
}
.red::before{
  content: 'dddddddddd';
  color: transparent;
  font-size: 5em;
  text-decoration-style: wavy;
  text-decoration-color:red ;
  text-decoration-line: underline;
  animation: animate3 5s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(-1px)
  }
  100%{
    transform: translateX(-90px)
  }
}