.postForm{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.postH1{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
    margin-top: 30px;
}
.postLabel{
    text-align: left;
    display: block;
}

.postImg, .postInput, .postText{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.postBtn {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(32, 104, 4);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    width: 200px;
}

.postBtn:hover {
    background-color: rgb(4, 149, 72);
}

.postBtn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/****/

.card1 {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    min-width: 900px;
    margin: 200px auto;
    background: #fff;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
}
.thumbnail{
    display: flex;
    float: left;
    left: 30px;
    top: 30px;
    height: 320px;
    width: 530px;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
    overflow: hidden;

}
img.left{
    width: 530px;
}
.right{
   display: flex;
   flex-direction: column;
   margin-top:-320px;
    margin-left: 540px;
}
h1.title{
    padding-top: 15px;
    font-size: .9rem;
    color: #4b4b4b;
}
.author{
    background: #9ecaff;
    height: 30px;
    width: 110px;
    border-radius: 20px;
}
.author> img{
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
h2.conH2{
    padding-top: 8px;
    margin-right: 6px;
    text-align: right;
    font-size: .8rem;
    color: #fff;
}
p.postP{
    text-align: justify;
    padding-top:10px;
    font-size: .95rem;
    line-height: 150%;
    color: #4b4b4b;
    overflow: hidden;
    text-overflow: ellipsis;
}
/**h5.conH5{
    position: absolute;
    left: 30px;
    bottom: -120px;
    font-size: 6rem;
    color: #c3c3c3;
}
h6.conH6{
    position: absolute;
    left: 30px;
    bottom: -55px;
    font-size: 2rem;
    color: #c3c3c3;
}**/

ul.sit{
   display: flex;
   justify-content: flex-end;
   margin-top: 90px;
}
li.conLi{
    display: inline;
    list-style: none;
    padding-right: 40px;
    color: #7b7b7b;
}

