
.api{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: large;

}
 .search-boxx{
  position: absolute;
   top: 17%;
  left:50%;  
  transform: translate(-50%, -50%);
  background:#2f3640;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
/* .search-boxx:hover > .input_text{
  width: 240px;
  padding: 0 6px;
  background-color:red;
} */
.search-boxx:hover{
  width: 220px;
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.input_text:hover{
 width: 200px;
  padding: 0 6px;
  float: left;
 background-color: rgb(137, 199, 55);
}
/* SearchIcon{
  align: center;
} */
 .a-search{
  color: #18dae8;
  float: right;
  width:30px;
  height: 30px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.input_text{
font-size: 16px;
transition: 2s;
display: flex;
justify-content: center;
align-items: center;
}

.status{
  border: 0.1px solid rgb(173, 237, 248);
  box-shadow: 2px 0.1px 15px 7px rgb(15, 211, 218);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.green{
  display: flex;
  align-items: center;
   width: 40%;
   overflow: hidden;
   margin-bottom: 10px;
 }
 .green::before{
   content: 'dddddddddd';
 
   color: transparent;
   font-size: 5em;
   text-decoration-style: wavy;
   text-decoration-color:green ;
   text-decoration-line: underline;
   animation: animate3 2s linear infinite;
 }
 
 @keyframes animate3 {
   0% {
     transform: translateX(-1px)
   }
   100%{
     transform: translateX(-50px)
   }
 }

.red{

  display: flex;
  align-items: center;
   width: 40%;
   overflow: hidden;
   margin-bottom: 10px;


/*   
 display: flex;
 align-self: center;
 right: 100px; */
 /* align-items:center;
 justify-content: center; */
  /* width: 200px;
  height: 150px;
  overflow: hidden; */
}
.red::before{
  content: 'dddddddddd';
  color: transparent;
  font-size: 5em;
  text-decoration-style: wavy;
  text-decoration-color:red ;
  text-decoration-line: underline;
  animation: animate3 5s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(-1px)
  }
  100%{
    transform: translateX(-90px)
  }
}

.result-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  /* height: 80%; */
  /* margin:auto; */
}
.home-IMG{
  order: 1;
  width: 30%;
  /* height: 60%; */
  border-radius:50%;
  align-self: center;
  align-items: flex-start;
  margin-left: -390px
}
.advanc-data{
  /* align-self: space-between; */
  /* border: 1px solid red; */
  /* display: flex;
  align-self: center;
  align-items: end; */
}
.home-UL{
  list-style-type: none;
}
.home-ICON{
  width: 100%;
}