@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Urbanist:wght@200&display=swap');


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: aqua;
}


.logo a{
    cursor: pointer;
   /** color: rgb(56, 65, 8);**/
   color: #0e3742;
   text-transform: uppercase;
   width: 100%;
   text-align: center;
   -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
   line-height: 0.70em;
   outline: none;
   animation: animate 9s linear infinite;
   font-weight: 900;
   font-size:2rem;
}
@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #147cad;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: rgb(121, 97, 224);
        text-shadow: 0 0 10px #9f00a5,
        0 0 20px #03bcf4,
        0 0 40px #bb0484,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
    }
}
li{
    display: inline-block;
    padding: 0px 20px;   
    
}
.navLinks a{

    color: rgb(56, 65, 8);
    transition: all 0.3s ease 0s;
}

 a{
    font-family: "montserrat", sans-serif;
    font-weight:500;
    font-size: 16px;
    text-decoration: none;
    
    
}
a:hover{
    color: #0088a9;
}
