.postForm{
    display: flex;
    flex-direction:column;
    align-items:center;
    /**text-align:center;**/
    box-shadow: 2px 0.1px 15px 7px rgb(15, 211, 218);
}
.postForm::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;

}
.postForm::before, .postForm::after{
    background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4)

}
.postForm::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.postH1{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
    margin-top: 30px;
}
.postLabel{
    text-align: left;
    display: block;
}

.postImg{
    width: 20rem;
    padding: 6px 10px;
    margin: 10px 0px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.postInput{
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'heebo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 20rem;
    transition: all 0.2s;
}
.postInput:hover{
    cursor: pointer;
    background-color: #eeeeee;

}
.postInput:focus{
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #3b8a86;
    
}
.postBtn {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(32, 104, 4);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    width: 200px;
}

.postBtn:hover {
    background-color: rgb(46, 151, 95);
}

.postBtn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/****/

.card1 {
    display: flex;
    flex-direction: row;
    min-height: 450px;
    min-width: 900px;
    margin: 20px 0px;
    background: #fff;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
    padding: 1rem;
}
.thumbnail{
    display: flex;
    /* float: left; */
    left: 30px;
    top: 30px;
    height: 320px;
    width: 530px;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
    overflow: hidden;

}
.IMG-posts{
    width: 530px;
}
.right{
   display: flex;
   flex-direction: column;
   padding: 1em;
   margin-bottom: 1.5em;
}
.title{
    padding-top: 15px;
    font-size: 2rem;
    color: #000000;
    align-self: center;
    width: 10em;
}
.author{
    background: #9ecaff;
    height: 30px;
    width: 110px;
    border-radius: 20px;
}
.author> img{
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
h2.conH2{
    padding-top: 8px;
    margin-right: 6px;
    text-align: right;
    font-size: .8rem;
    color: rgb(0, 66, 87);
}
.postP{
    word-wrap: break-word;
    width: 30em;
    padding: 6em;
    color: #444242;
}
.sit0{
   
}
ul.sit{
   display: flex;
   justify-content: flex-end;
   margin-top: 90px;
}
li.conLi{
    display: inline;
    list-style: none;
    padding-right: 40px;
    color: #7b7b7b;
}
.deleteIcon{
    cursor: pointer;
}
.editIcon{
    cursor: pointer;
}
.shareIcon{
    cursor: pointer;
}



.textArea{
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'heebo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 20rem;
    height: 100px;
    transition: all 0.2s;

}
.textArea:hover{
    cursor: pointer;
    background-color: #eeeeee;

}
.textArea:focus{
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #3b8a86;
    
}
.dateSpan{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top:5rem;
    color: #065f6b;
}
.date{
    margin-right: 5px ;
   
}
/* _________________________________ */
/* @media (min-width: 768px) and (max-width: 1024px) { */
  
    /* .all_{
        padding: 1em;
       
        
    }
        .card1 {
            display: flex;
            flex-direction: column;
            min-height: 450px;
            min-width: 768px;
            margin: 20px 0px;
            background: #060c21;
            box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
            padding: 1rem;
       
      
    }
    .thumbnail{
        display: flex;
        float: left;
        left:2em;
        top: 2em;
        height: 25em;
        width: 35em;
        box-shadow: 7px 7px 50px 0px rgba(1, 68, 40, 0.7);
        overflow: hidden;
        
    
    }
    .IMG-posts{
        width: 35em;
    } 
    .right{
        display: flex;
        width: 16.5em;
        padding-left: -5em;
        border: 1px solid rgba(1, 68, 40, 0.7);
        border-radius: 40px;
        box-shadow:  -4px 10px 25px  rgba(1, 68, 40, 0.7);
        word-wrap: break-word;  
        height: 25em;;
    }
    
    .postForm::before{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #fff;
        z-index: -1;

    }
    .postForm::before, .postForm::after{
        background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4)

    }
    .postForm::after{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: #fff;
        z-index: -2;
        filter: blur(40px);
    }
        
    .author{
        margin-top:1em;
        margin-left: 4em;
        
    }
    .title{
        font-weight: 800;
        font-size: 1.5em;
        margin-left: -1em;
        color:rgb(12, 172, 151)
    }
    .seperator{
    }
    .postP{
        margin-top:2em;
        font-size: .90rem;
        font-weight: 600;
        word-wrap: break-word;
        width: 20em;
        padding:4em;
        margin-left: -2em;
        color:rgb(189, 192, 181);
    }
  } */
/* _________________________________________________ */
  /* @media (min-width: 481px) and (max-width: 767px) {
    .all_{
    }
    .card1 {
        display: flex;
        flex-direction: row;
        min-height: 18em;
        min-width: 38em;
        background: #fff;
        box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
        padding: 1rem; 
        border-top: 3px solid red;
    
}
.thumbnail{
    display: flex;
    left: 2em;
    top: 2em;
    height: 20em;
    width: 20em;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
    overflow: hidden;

}
.right{
    order: 1;
      width: 30em;
      border: 5px solid #70f3ff;
      border-radius: 60px;
      box-shadow:  -4px 10px 25px  #70f3ff;
      min-height: 25em;
  }
.title{
    flex-direction: column;
    margin-bottom: 24em;
    float: right;
    margin-right: -3em;
    width: 10em;
}
.author{
    margin-top:5em;
    margin-right: 12em;
    
}
.postP{
    margin-top:2em;
    margin-right: 3em;
    font-size: .65rem;
    word-wrap: break-word;
    width: 25em;
    padding:4em;
}
 .IMG-posts{
    width: 260px;
} 
.sit{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 3em;
}
.sit0{
    width: 39em;
    align-items: flex-end;
    justify-content: flex-end;
}
.dateSpan{
    margin-top:3rem;
    margin-right: 3em;
    color: #666666;
    font-size: 1em;
}
.date{
    margin-right: 4px ;
    font-size: 1.2em;
}

} */

/* __________MOBILE_PHONE___________ */
@media (min-width: 320px) and (max-width: 600px) {
  
        .all_{   
            display: flex;
        }

            .card1 {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                min-width: 368px;
                background: #060c21;
                box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, .7);
                padding: 1rem;
          
        }
        .thumbnail{
            order: 2;
            bottom: 5em; 
            height: 30em;
            width: 30em;
            box-shadow: 7px 7px 50px 0px rgba(1, 68, 40, 0.7);
            overflow: hidden;
            
        
        }
        .IMG-posts{
            width: 30em;
            border: 5px solid #70f3ff;
            border-radius: 60px;
            box-shadow:  -4px 10px 25px  #70f3ff;
        } 
        .right{
          order: 1;
            width: 29em;
            border: 5px solid #70f3ff;
            border-radius: 60px;
            box-shadow:  -4px 10px 25px  #70f3ff;
            border-radius: 10px;
            min-height: 32em;
        }
        
        .postForm::before{
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: #fff;
            z-index: -1;
    
        }
        .postForm::before, .postForm::after{
            background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4)
    
        }
        .postForm::after{
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: #fff;
            z-index: -2;
            filter: blur(40px);
        }
            
        .author{
        
            margin-top:1em;
            margin-left: 9em;
            
        }
        .title{
            padding-top: 1em;
            font-weight: 800;
            font-size: 1.5em;
            margin-left: -1em;
            color:rgb(12, 172, 151);
            width: 13em;
        }
        .seperator{
        }
        .postP{
            min-height: 20em;
            font-size: .65rem;
            word-wrap: break-word;   
        }
        .sit0{
            display: flex;
            /* margin-top:-10em; */
            
        }
        ul.sit{
            display: flex;
            justify-content: flex-end;
            /* margin-top: 90px; */
         }
        li.conLi{
            color: #00bcd4;
        }
        .dateSpan{
            font-size: 1em;
            color: #039cb1;
        }
    
  }