@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    background: #f7f8f3;
    min-height: 100vh;
    display: flex;
    direction: column;
}

.header{
    background: #3c8ccd;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Galins";
      }
      
.cross{
    width: 0.9rem;
}

.container{
    width: 100%;
    height: 100vh;
    display:grid;
    gap: 200px;
    grid-template-columns: 22.78vw 22.78vw;
    justify-content:center; 
    align-items: center;
    
}  

.upload{
    width:22.78vw;
    height: 53.9vh;
    background-color: #ece9dd;
    border-radius: 10px;
    box-shadow: 0 10px 15px 1px rgba(26, 26, 26, 0.2);
    animation: fadeup .5s .5s ease both;
    transform: translateY(20px);
    font-family: "Roboto";
}

.small_title{
    color: #fff;
    font-size: 2.5rem;
    margin: 0;
    padding: 50px 0;
}


i{
   
    font-size: 30px;
}

.up {
    font-weight: bold;
    display: inline-block;
  }

.load {
    display: inline-block;
    font-weight: 100;
    margin-left: -8px;
  }


.small_header{
    background:#3c8ccd;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    text-align: center;
    width: 100%;
    height: 15vh;

}

.small_body{
    text-align: center;
    padding: 90px 0;
}

.icon_drop{
    width: 15%;
}

.pointer-none{
    font-size: 0.9rem;
    padding-top: 20px;
    line-height: 1.4;
}

a,
b{
    color: #3c8ccd;
}



.input_file{
    visibility: hidden;
}

.create{
    font-family: "Helvetica";
    font-weight: lighter;
    font-size: 2.2rem;
    width:22.78vw;
    height: 53.9vh;
    border-radius: 10px;

}

.title_pin p{
    width: 100%;
    border-bottom: 1px solid rgba(26, 26, 26, 0.2);
    margin-bottom: 50px;
    
}

.tag p{
    width: 100%;
    border-bottom: 1px solid rgba(26, 26, 26, 0.2);
    margin-bottom: 50px;
}